.table-scroll {
    overflow: overlay !important;
    border-radius: 6px !important;
    table {
        th {
            font-size: 0.875rem !important;
        }
        thead {
            tr {
                position: sticky;
                top: -1px;
                z-index: 10;
                height: 40px;
            }
        }
        // tbody {
        //     .active {
        //         background-color: var(--bs-primary-light);
        //         color: var(--bs-primary-active) !important;
        //     }
        //     td {
        //         padding: 0.175rem 0.875rem !important;
        //         color: var(--bs-black) !important;
        //         height: 30px;
        //     }
        // }
    }
    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: var(--bs-white) !important;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(221, 221, 221) !important;
        border-radius: 10px;
        &:hover {
            background-color: rgb(173, 173, 173) !important;
        }
    }
}

.required:after {
    content: " *";
    color: red;
}

.list-variants {
    &::after {
        content: " | ";
    }
    &:last-child::after {
        content: "";
    }
}

.limmit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Hoặc inline-block */
}
// .disabled {
//     background-color: rgb(246, 246, 246);
//     * {
//         background-color: rgb(246, 246, 246);
//     }
// }
